
{% extends 'base.html' %}

{#template를 기준으로 삼음#}
{#예를들어 blog안에 base.html이 있으면#}
{#extends 'blog/base.html'로 해야됨#}


{% block content %}
    {% for post in posts %}
        <div class="post">
            <p class="post-date">published: {{ post.published_date }}</p>
            {#            <h2 class="post-title"><a href="/{{ post.pk }}">{{ post.title }}</a></h2>#}

            {#            네임스페이스 없이 수업에서 한것#}
            {#            <h2 class="post-title"><a href="{% url 'post-detail' pk=post.pk %}">{{ post.title }}</a></h2>#}
            <h2 class="post-title"><a href="{% url 'blog:post-detail' pk=post.pk %}">{{ post.title }}</a></h2>
            <p class="post-content">{{ post.content|linebreaksbr|truncatewords:30 }}</p>
            <button><a href="{% url 'blog:post-delete' pk=post.pk %}"></a>delete</button>
        </div>
    {% endfor %}
{% endblock %}